.container-base-elem {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    .base-container {
        flex: 1;
        height: 100%;
        position: relative;
        width: 100%;
        // min-height: 100vh;
        position: relative;
        background: #333;

        display: flex;
        justify-content: center;
        // align-items: flex-start;

        border-bottom: 1px solid rgba(15.69%, 18.63%, 20.39%, 1);
        background-position: right -200px top;
        background-size: cover;
        background-repeat: no-repeat;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background-image: linear-gradient(to right, rgba(12.94%, 14.90%, 22.75%, 1.00) 150px, rgba(20.39%, 22.35%, 29.02%, 0.84) 100%);
        }

        .base-content {
            position: relative;
            width: 95%;
            min-height: 80vh;
            height: 80vh;
            border: 3px solid rgba(255, 255, 255, .01);
            // background: rgba(255, 255, 255, .03);
            box-shadow: 5px 5px 12px rgba(0, 0, 0, .5);

            margin-top: auto;
            margin-bottom: auto;

            @include breakpoint(medium down){
                &{
                    margin: 10px;
                    height: auto;

                }
            }

            .base-elm-container {
                padding: 10px;
                height: 100%;
                width: 100%;
    
                display: flex;
                justify-content: center;
                align-items: center;

                .base-elm-content {
                    @include breakpoint(medium up) {
                        & {
                            width: 100%;
                        }
                    }

                    .base-elm-left {
                        transition: $transition ease-in-out;
                        display: flex;

                        .img-container {
                            transition: $transition ease-in-out;
                            position: relative;
                            margin-top: auto;
                            margin-bottom: auto;
                            border-width: 0px;
                            min-width: 300px;
                            width: 300px;
                            height: auto;
                            overflow: hidden;
                            margin-left: auto;
                            margin-right: 1rem;
                            filter: drop-shadow(10px 10px 4px rgba(#000000, .5));
                            // box-shadow: -10px -10px 40px 1px rgba(#f9f9f9, .2);

                            @include breakpoint(medium down) {
                                & {
                                    margin-left: auto;
                                    margin-right: auto;
                                }
                            }
        
                            @include breakpoint(small only) {
                                & {
                                    min-width: 100px;
                                    width: 250px;
                                    height: auto;
                                }
                            }

                            
                            #elm-img {
                                width: 100%;
                                height: 100%;
                                border-radius: 5px;
                                padding: $img-padding;
                                @if $img-padding > 0 {
                                    border: 2px solid rgba($warning-color, .2);
                                }
                            }
                        }
                    }

                    .base-elm-right {
                        transition: $transition ease-in-out;
                        margin-bottom: auto;
                        margin-top: 1rem;
                        width: 50%;
                        z-index: 500;

                        @include breakpoint(medium down) {
                            & {
                                width: 85%;
                                margin: 0 auto;
                                text-align: center;
                                margin-top: 1.5rem;
                            }
                        }

                        #elmTitle {
                            color: white;
                            font-weight: bold;
                            display: inline-block;
                        }
                    
                        #elmRelease{
                            color: rgba($warning-color, .7);
                            
                        }
                    
                        #elmsubtitle, #elmgenre, #elmtime {
                            color: $text-color
                        }
                    
                        #tagline {
                            color: rgba(200, 200, 200, 0.7);
                            font-size: 1.1em;
                            margin: 8px 0;
                            font-style: italic;
                        }
                    
                        #elmdesc {
                            color: $text-color;
                            font-size: 1rem;
                        }

                        .overview {
                            margin-top: 1rem;
                        }

                        #overview {
                            color: white;
                            font-weight: bold;
                            font-size: 1.3rem;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
