#episodetime {
    font-size: 1.1rem;
    margin-top: 5px;
    color: rgba(#f9f9f9, 0.9);
}

#network {
    padding: 5px;
    position: absolute;
    bottom: $img-padding + 2px;
    left: $img-padding + 2px;   
    width: calc(100% - (#{$img-padding + 2} * 2));
    box-shadow: 0 -5px 5px -2px rgba(0, 0, 0, .7);
    background: rgba(43, 48, 68, 0.9);
    height: 80px;
    display: flex;
}

.networkposterbase {
    max-width: 30%;
    flex: 0 0 30%;
    max-width: 80px;
    height: 64px;
    background: white;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

#networkposter {
    width: 100%;
    height: auto;
    padding: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

.divi {
    margin-left: 10px;
    height: 80%;
    background: rgba($text-color, .5);
    max-width: 10px;
    flex: 0 0 2px;
    margin-top: auto;
    margin-bottom: auto;
}

.networkbase {
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#networkname {
    font-size: 1rem;
    color: white;
}

#watchnow {
    transition: $transition ease-in-out;
    font-size: 1rem;
    color: darken($warning-color, 20%);
    background: white;
    padding: 5px;
    border-radius: 5px;

    &:hover {
        color:  $text-color;
        background: darken($warning-color, 20%);
    }
}