.wrap-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-container {
    position: relative;
    z-index: 999;
    width: 100%;
    .header-content {
        z-index: 150;
        background: none;
        background-color: $primary-color; //f03951 8A2736
        padding: 1rem .5rem;
        // padding: 1.5rem .5rem;

        .header-grid-left {
            display: flex;
            align-items: center;
            justify-content: flex-start;

        }

        .header-grid-middle {
            display: flex;
            align-items: center;
            justify-content: center;
            
            input {
                margin: 0 0 0 !important;
            }

            @include breakpoint(medium down) {
                & {
                    margin: 15px auto;
                }
            }
        }

        .header-grid-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .allocine-title {
            z-index: 250;
            position: relative;
            font-size: 1.2rem;
            margin-left: 2rem;

            color: rgba($warning-color, 1);

            &::before {
                content: '';
                position: absolute;
                top: 4px;
                left: -24px;
                background-image: url(../img/allocine-icon.png);
                width: 32px;
                height: 32px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-radius: 50%;
                z-index: -1;
                filter: drop-shadow(0 0 2px rgba($warning-color, .8));
            }

            &:hover {
                text-shadow: 0 0 1px rgba(#f9f9f9, .2), 0 0 4px rgba($warning-color, .8);
            }
        }

        .menu {
            color: rgba(#f9f9f9, .9);
        }
       
        ul {
            background: none;
        }

        a {
            color: rgba(#f9f9f9, .5);
            transition: $transition ease-in-out;
        
            &:hover, &:focus {
                color: $warning-color;
                text-shadow: 0 0 5px rgba($warning-color, .1);
            }
        }

        .header-grid-middle {
            // background: red;
            position: relative;

            #input-search {
                cursor: pointer;
                position: absolute;
                right: 32px;
                // background: blue;
                height: 100%;
                width: 32px;
                border: none;
                color: $warning-color;
            }
        }
    }
}
