.main-container {
    position: relative;
    flex: 1 1 0;
    background-color: $primary-color;

    .main-content {
        min-height: 100%;
        overflow: hidden;

        .main-left {
            color: $text-color;
            // box-shadow: inset 0 3px 3px rgba(0, 0, 0, .3);
            background-color: $primary-color;

            /* background: -moz-linear-gradient(160deg,$primary-color 42%, red 30%);
            background: -webkit-linear-gradient(160deg, $primary-color 42%, red 30%);
            background: linear-gradient(-160deg, $primary-color 50%, darken($color: $primary-color, $amount: 1%) 70%); */

            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            .filter-container {
                width: 95%;
                height: 90%;

                .results-type {
                    margin-top: 3rem;
                    width: 50%;
                    margin-left: 3rem;
                    margin-right: auto;

                    @include breakpoint(medium down) {
                        & {
                            display: flex;
                            margin-top: 0;
                        }
                    }

                    label {
                        margin-bottom: 1rem;
                        color: rgba(#f9f9f9, .5);
                        transition: $transition ease-in-out;
    
                        &:hover, &:focus {
                            color: $warning-color;
                            text-shadow: 0 0 5px rgba($warning-color, .1);
                        }
                    }
    
                    input[type='radio'] {
                        display: none;
    
                        
    
                        &:checked + label{
                            color: $warning-color;
                            text-shadow: 0 0 5px rgba($warning-color, .3);
                        }
                    }
                }
            }
        }

        .main-right {
            border-top-left-radius: 5rem;
            position: relative;
            background-color: darken($color: $primary-color, $amount: 1%);
            box-shadow: /* inset 0 5px 5px rgba(0, 0, 0, .3), */
            inset 3px 3px 3px rgba(0, 0, 0, .2);
            color: $text-color;
            padding: 20px;
            // overflow:scroll;
            // overflow-x:hidden;

            .current-movie-container {
                position: relative;
                z-index: 2;

                .current-movie-content {

                    .title {
                        margin-top: 1rem;
                        margin-left: 2rem;
                        h3 {
                            font-size: 1.3rem;
                        }
                    }

                    .current-movie {
                        overflow: auto;
                        white-space: nowrap;
                        scrollbar-color: $warning-color rgba(0, 0, 0, 0);
                        scrollbar-width: thin;
                        background: rgba(lighten($color: $primary-color, $amount: 10%), .1);

                        &::-webkit-scrollbar{
                            height: .6rem;
                            background: none;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: $warning-color; 
                            border-radius: 2px;
                        }

                        .current-movie-elm {
                            transition: all $transition ease-in-out;
                            border-radius: 7px;
                            display: inline-block;
                            color: white;
                            text-align: center;
                            text-decoration: none;
                            // background: red;

                            width: 180px;
                            height: auto; 
                            margin: 10px;
                            cursor: pointer;
                            // overflow: hidden;
                            position: relative;
                            filter: grayscale(.4);

                            &::before{
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                content: '';
                                left: 0;
                                top: 0;
                                background: rgba(0, 0, 0, .13);
                                border-radius: 7px;
                            } 

                            &::after{
                                z-index: 999;
                                position: absolute;
                                width: calc(100%);
                                height: 100%;
                                content: '';
                                left: 0;
                                top: 0;
                                // background: rgba(0, 0, 0, 1);
                                border-bottom-left-radius: 7px;
                                border-bottom-right-radius: 10px;
                                
                               /*  background: -moz-linear-gradient(160deg,$primary-color 42%, rgb(34, 39, 49, .965) 30%);
                                background: -webkit-linear-gradient(160deg, $primary-color 42%, rgb(34, 39, 49, .965) 30%);
                                background: linear-gradient(160deg, rgba($warning-color, .5) 70%, rgb(34, 39, 49, .97) 70.4%); */
                                background: rgb(34, 39, 49, .97);
                                clip-path: polygon(0 86%, 0 100%, 100% 100%, 100% 72%, 50% 72%);
                            }

                            &:hover {
                                filter: grayscale(0) contrast(1.05);
                                transform: scale(1.03);
                            }
                        }
                    }
                }
            }

            .current-week-movie-container {
                position: relative;
                z-index: 8;
                margin-top: 2.5rem;

                .current-week-movie-content {
                    .title {
                        margin-top: 1rem;
                        margin-left: 2rem;
                        h3 {
                            font-size: 1.3rem;
                        }
                    }

                    .current-week-movie {
                        overflow: auto;
                        white-space: nowrap;
                        scrollbar-color: $warning-color rgba(0, 0, 0, 0);
                        scrollbar-width: thin;
                        background: rgba(lighten($color: $primary-color, $amount: 10%), .1);

                        &::-webkit-scrollbar{
                            height: .6rem;
                            background: none;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: $warning-color; 
                            border-radius: 2px;
                        }

                        .current-week-movie-elm {
                            transition: all $transition ease-in-out;
                            border-radius: 7px;
                            display: inline-block;
                            color: white;
                            text-align: center;
                            text-decoration: none;
                            // background: red;

                            width: 180px;
                            height: auto; 
                            margin: 10px;
                            cursor: pointer;
                            // overflow: hidden;
                            position: relative;
                            filter: grayscale(.6);

                            
                            &::before{
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                content: '';
                                left: 0;
                                top: 0;
                                background: rgba(0, 0, 0, .13);
                                border-radius: 7px;
                            } 

                            &::after{
                                z-index: 999;
                                position: absolute;
                                width: calc(100%);
                                height: 100%;
                                content: '';
                                left: 0;
                                top: 0;
                                background: rgba(0, 0, 0, 1);
                                border-bottom-left-radius: 7px;
                                border-bottom-right-radius: 10px;
                                
                               /*  background: -moz-linear-gradient(160deg,$primary-color 42%, rgb(34, 39, 49, .965) 30%);
                                background: -webkit-linear-gradient(160deg, $primary-color 42%, rgb(34, 39, 49, .965) 30%);
                                background: linear-gradient(160deg, rgba($warning-color, .5) 70%, rgb(34, 39, 49, .97) 70.4%); */
                                background: rgb(34, 39, 49, .97);
                                clip-path: polygon(0 86%, 0 100%, 100% 100%, 100% 72%, 50% 72%);
                            }

                            &:hover {
                                filter: grayscale(0);
                                transform: scale(1.03);
                            }
                        }
                    }
                }
            }

            .wave {
                z-index: 1;
                left: 0;
                bottom: 0;
                width: 100%;
                position: absolute;

                svg {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    
                    path {
                        fill: rgba(lighten($color: $primary-color, $amount: 10%), .23);
                    };
                }
            }

        }
    }    
}


.img-current-moment, .img-current-week-moment {
    border-radius: 5%;
    width: 100%;
    height: 100%;
    position: relative;

    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: '';
    }
}

.current-movie-date {
    z-index: 9999;
    position: absolute;
    bottom: 2rem;
    right: 12px;
    text-align: right;
    color: $warning-color;
}

.current-movie-title {
    z-index: 9999;
    position: absolute;
    bottom: 7px;
    right: 12px;
    text-align: right;
}

.current-movie-collaps {
    z-index: 999999999999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.popus {
    position: fixed; 
    right: 50%;
    // top: 50%; 
    // width: 310px; 
    // height: 285px; 
    z-index: 9999; 
    border: 2px solid rgb(0, 0, 0, .5);
    color: white;

    &::before {
        z-index: -1;
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, .7);
    }
    background-color: rgb(255, 0, 0);



    transform: translate(-50% -50%);

    .popus-content {
        position: absolute;
        // background: gray;
        width: calc(100% - 20px);
        height: calc(100% - 55px);
        left: 10px;
        top: 45px;
        overflow: hidden;
        // border: 1px solid black;
        z-index: 9999;
    }

    &:hover {
        cursor: none;
    }
}

.tleft, .tright {
    max-width: 50%;
}