
#search-moovie {
    border-radius: 180px;
    width: 100%;
    background: $secondary-color;
    border: none;
    font-size: .9rem;

    /* border: 2px solid rgba($primary-color, .05);
    
    box-shadow:
    inset 0 -3px 3px rgba(255, 255, 255, .05),
    inset 0 3px 3px rgba(0, 0, 0, .05);
 */

    color: rgba($text-color, .8);

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

    &::placeholder {
        color: rgba($text-color, .5);
    }

    &:focus {
        box-shadow: none;
    }

    @include breakpoint(medium down) {
        margin: 10px 0;
    }
}

#result {
    position: absolute;
    top: 3rem;
    left: 0;
    background: $secondary-color;
    color: rgba($text-color, .8);
    width: calc(100% - 2rem);
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 10px;
    z-index: 9999;
    overflow: hidden;

    .result-item-container {
        position: relative;

        // border-bottom: 1px solid rgba($text-color, .1);
        padding: .4rem;

        .result-item-content {
            position: relative;
            cursor: pointer;
            transition: $transition ease-in-out;
            border-radius: 10px;
            width: calc(100% - 4rem);
            height: auto;
            display: flex;

            @include breakpoint(small down){
                &{
                    width: calc(100%);
                }
            }

            // overflow: hidden;

            &:hover {
                background: $primary-color;
                margin-left: 2rem;

                .img-bg {
                    
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }

                @include breakpoint(small only){
                    &{
                        margin-left: 0;
                    }
                }
            }

            .img-bg {
                transition: $transition ease-in-out;
                padding: .2rem;
                width: 53px;
                height: 68%;

                border: 1px solid rgba($warning-color, .2);
            }

            .movie-info-bg {
                top: 0;
                left: 60px;
                height: auto;
            }

            .movie-info-title {
                transition: $transition ease-in-out;
                position: relative;

                // top: 0;
                // position: absolute;
                // overflow: hidden;
                margin: .3rem;
            }

            .movie-info-subtitle {
                transition: $transition ease-in-out;

                top: 1.6rem;
                // position: absolute;
                // left: 60px;
                // overflow: hidden;
                margin: .3rem;
                font-size: .75rem;
                color: rgba($warning-color, .5);
            }

            .btn-click {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        &::after {
            position: absolute;
            content: '';
            left: 50%;
            transform: translate(-50%);
            bottom: 0;
            width: 85%;
            height: 2px;
            background: rgba(#f9f9f9, .05);
            border-radius: 50%;
            text-align: center;
            vertical-align: center;
        }
    }

    @include breakpoint(medium down) {
        top: calc(3rem + 10px);
    }
}

.result-collaps {
    transition: all $transition ease-in-out;

    display: none;  
    height: 0%;
    opacity: 0;
}

.search-info {
    margin: .3rem;
    font-size: .9rem;
    cursor: pointer;
   
    color: rgba(#f9f9f9, .5);
    transition: $transition ease-in-out;

    &:hover, &:focus {
        text-decoration: underline;
        color: rgba(#f9f9f9, .7);;
        text-shadow: 0 0 5px rgba(#f9f9f9, .1);
    }
}
.search-value {
    color: rgba($warning-color, .8);
}
