$foundation-palette: (
  primary: #14161a,
  secondary: rgba(35, 34, 41),
  success: #3adb76,
  warning: #ffc107, //ffae00
  alert: #cc4b37,
  placeholder: #fff,
) !default;

$text-color: rgba(#f9f9f9, .8);

$img-padding: 5px;


$global-radius: 0px;

$global-width: rem-calc(1200) !default;

$body-background: #14161a;
// $body-font-color: #f9f9f9;

$transition: .3s;

@import '../../node_modules/foundation-sites/scss/foundation.scss';
// @import '../../node_modules/foundation-sites/scss/global.scss';
// @import '../../node_modules/foundation-sites/scss/vendor/normalize.scss';
// @import '../../node_modules/foundation-sites/scss/typography/';


// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
//@include foundation-grid;
@include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-prototype-classes;

// body {
//   overflow: hidden;
// }

@import './_home.scss';
@import './page/type/_base.scss';
@import './_header.scss';
@import './_search.scss';
@import './page/type/_movie.scss';
@import './page/type/_tv.scss';

#button-back, #button-back-header {
  display: none;
  position: absolute;
  transition: $transition ease-in-out;
  z-index: 999999999999;
  width: 48px;
  height: 48px;
  cursor: pointer;
  margin: 10px;

  background: white;
  border-radius: 10px;
  color: $warning-color;
  font-size: 1.5rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);

  &:hover {
      background: $warning-color;
      color: white;
  }
}

@include breakpoint(medium down){
  #button-back-header {
      display: block;
      position: absolute;
      right: 2%;
      top: 3px;
  }
}

@include breakpoint(large){
  #button-back {
      display: block;
      top: 6rem;
      left: 15px;
  }
}
